.news-container {
    padding: 20px 0px 100px;
}

.news-content {
    max-width: 1200px;
    margin-inline: auto;
    border-radius: 22px;
}

.news-cute-star3 {
  width: 200px;
  height: 210px;
  background-image: url(../../assets/introPageStars/cute-star3.PNG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150px;
}

.news-lighter-bg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 22px;
    padding: 50px 0px;
    width: 100%;
    background: linear-gradient(to right, #5c6bc0, #512da8);
}

.news-first-box {
    margin-left: 25px;
}

.news-second-box {
    margin-right: 25px;
    width: 500px;
}

.news-subscribe {
    font-size: 1.8rem;
    font-weight: 500;
    color: #fff;
}

.news-invitation {
    font-size: 1.4rem;
    color: #fff;
}

.news-form {
    max-width: 500px;
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 10px 5px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .news-form_input {
    padding: 5px;
    flex: 1;
    outline: none;
  }

  .news-form_input::placeholder {
    font-size: 1.1rem;
  }
  
  .join-btn {
    padding: 6px 40px;
    background-color: #6C63FF;
    color: white;
    border-radius: 5px;
  }
  
  .join-btn:hover {
    background-color: #5a52d4;
  }