.course-categories {
  max-width: 1400px;
  margin-inline: auto;
  text-align: center;
  padding: 70px 0 40px;
  }
  
.category-h2-heading {
  font-size: 1.8rem;
  color: #241151;
  font-weight: 500;
  margin-bottom: 35px;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.category-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 30px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.category-card:hover {
  transform: translateY(-5px);
}

.category-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 15px;
}

.category-h3-heading {
  font-size: 1.2em;
  margin: 0;
  color: #333;
}

.category-p-text{
  font-size: 0.9em;
  color: #777;
}

.view-all-btn {
  margin-top: 40px;
  padding: 10px 20px;
  background-color: #6C63FF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.view-all-btn:hover {
  background-color: #5a52d4;
}  