.header-fixed-box {
    background-color: #ededf7;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
}

.header-content {
    max-width: 1400px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo-box {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-logo {
    font-size: 2.7rem;
    background:  linear-gradient(to right, #5c6bc0, #512da8);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.headline {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    letter-spacing: 1px;
    font-weight: 500;
    background: linear-gradient(to right, #5c6bc0, #512da8);
    /* linear-gradient(to right, #f321d0, #086fff,#be23cf, #eedd44); */
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.nav-block {
    display: flex;
    gap: 45px;
}

.h-link {
    font-size: 1.4rem;
    letter-spacing: 1px;
    color: #1f243d;
    position: relative;
}

.h-link::after {
    content: ""; 
    position: absolute; 
    left: 50%; 
    bottom: 0; 
    width: 0; 
    height: 2px; 
    background-color: #7e91ff; 
    transition: width 0.4s ease, left 0.4s ease; 
}

.h-link:hover::after {
    width: 100%; 
    left: 0;   
}

.h-link-on {
    color: #7e91ff;
    /* font-weight: 500; */
    font-size: 1.4rem;
    letter-spacing: 1px;
    /* text-decoration: underline; */
}

.sign-in-btn,
.reg-btn {
    padding: 5px 30px;
    background-color: transparent;
    color: #1f243d;
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.sign-in-btn {
    border-right: 2px solid #8d78a48b;;
}

.sign-in-btn:hover {
    color: #5c6bc0;
}

.reg-btn:hover {
    color: #5c6bc0;
}

/* Modal Content */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
    will-change: opacity;
}

.modal-content {
    background-color: rgba(253, 249, 255, 0.7);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    z-index: 10;
    padding: 10rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    max-width: 350px;
    width: 100%;
    height: 300px;
    will-change: transform, opacity;
}

.modal-content-for-reg {
    background-color: rgba(253, 249, 255, 0.7);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    z-index: 10;
    padding: 5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    /* width: 600px; */
    /* width: 100%; */
    height: 500px;
    will-change: transform, opacity;
}

.close-btn {
    position: absolute;
    top: 30px;
    right: 35px;
    background: none;
    color: #62586d;
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
}

.close-btn:hover {
    color: #9f85c1;
}