.greeting-container {
    grid-area: greeting;
    width: 100%;
    box-shadow: 0 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-inline: auto;
    margin-top: 150px;
    border-bottom: 2px solid #61616194;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.greeting-cute-star {
    width: 250px;
    height: 185px;
    background-image: url(../../assets/homeGreetingStar/cute-star.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 250px;
}

.greeting-actually {
    margin-top: 40px;
    font-size:  2.5rem;
    font-weight: 600;
    color: #5e99b2;
}

.greeting-icon {
    margin: 0 5px;
    padding: 0 5px;
    font-size: 1rem;
    color: #5e99b2;
}

.greeting-awesome-phrase {
    margin-top: 50px;
    font-size: 1.3rem;
}