.reg-form-container {
    /* background-color: #ffffff; */
    border-radius: 30px;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35); */
    position: relative;
    overflow: hidden;
    width: 700px;
    max-width: 100%;
    min-height: 480px;
}

.reg-form-greeting {
    font-size: 1.6rem;
    letter-spacing: 1.5px;
}

.reg-form-p-text {
    font-size: 1.2rem;
    line-height: 15px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.reg-form-create-acc {
    font-size: 1.3rem;
}

.reg-form-span-text {
    font-size: 1rem;
}

.reg-form-container-a {
    color: #333;
    font-size: 1.2rem;
    text-decoration: none;
    margin: 15px 0 10px;
}

.reg-form-btn {
    background-color: #512da8;
    color: #fff;
    font-size: 0.8rem;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.reg-form-btn .hidden{
    background-color: transparent;
    border-color: #fff;
}

.register-form {
    background-color: hwb(0 100% 0%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.reg-form-input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.reg-form-container.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.reg-form-container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.social-iconss {
    margin: 20px 0;
}

.reg-form-container-a {
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
    color: #512da8;
}

.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    z-index: 1000;
}

.reg-form-container.active .toggle-container {
    transform: translateX(-100%);
}

.toggle {
    background-color: #522da8a7;
    backdrop-filter: blur(6px);
    height: 100%;
    /* background: linear-gradient(to right, #5c6bc0, #512da8); */
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.reg-form-container.active .toggle {
    transform: translateX(50%);
}

.toggle-panel {
    position: absolute;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left {
    transform: translateX(-200%);
}

.reg-form-container.active .toggle-left {
    transform: translateX(0);
}

.toggle-right {
    right: 0;
    transform: translateX(0);
}

.reg-form-container.active .toggle-right {
    transform: translateX(200%);
}