  .container {
    height: 31.25rem;
    width: 31.25rem;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  
  .panda-form {
    width: 23.75rem; 
    height: 18.75rem;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: calc(50% + 3.1rem);
    left: 50%;
    padding: 0 3.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.5rem;
  }
  
  .panda-form_label {
    display: block;
    margin-bottom: 0.2rem;
    font-weight: 600;
    color: #3c354b;
  }
  
  .panda-form_input {
    font-size: 0.95rem;
    font-weight: 400;
    color: #3c354b;
    padding: 0.3rem;
    border: none;
    border-bottom: 0.12rem solid #3d354f;
    outline: none;
  }
  
  .panda-form_input::placeholder {
    color: #78689b;
  }
  
  .panda-form_input:focus {
    border-color: #cab2ff;
  }
  
  .panda-form_input:not(:last-child) {
    margin-bottom: 0.9rem;
  }
  
  .panda-form_btn {
    font-size: 0.95rem;
    padding: 0.8rem 0;
    border-radius: 2rem;
    background: linear-gradient(90deg, rgb(92, 107, 192) 0%, rgb(81, 45, 168) 100%);
    color: #f2e2ff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.15rem;
    margin-top: 0.8rem;
  }

  .panda-form_btn:hover {
    color: #faf3ff;
  }
  
  .panda-face {
    height: 7.5rem;
    width: 8.4rem;
    background-color: #ffffff;
    border: 0.18rem solid #2e0d30;
    border-radius: 7.5rem 7.5rem 5.62rem 5.62rem;
    position: absolute;
    top: 2rem;
    margin: auto;
    left: 0;
    right: 0;
  }
  
  .ear-l,
  .ear-r {
    background-color: #3f3554;
    height: 2.18rem;
    width: 2rem;
    border-radius: 2rem;
    position: absolute;
    top: 2.8rem; 
    border: 0.18rem solid #2e0d30; 
    border-radius: 2.5rem 2.5rem 0 0; 
  }
  
  .ear-l {
    transform: rotate(-38deg);
    left: 10.75rem;
  }
  
  .ear-r {
    transform: rotate(38deg);
    right: 10.75rem;
  }
  
  .blush-l,
  .blush-r {
    background-color: #ff8bb1;
    height: 1rem;
    width: 1.37rem;
    border-radius: 50%;
    position: absolute;
    top: 4rem;
  }
  
  .blush-l {
    transform: rotate(25deg);
    left: 1rem;
  }
  
  .blush-r {
    transform: rotate(-25deg);
    right: 1rem;
  }
  
  .eye-l,
  .eye-r {
    background-color: #3f3554;
    height: 2.18rem;
    width: 2rem;
    border-radius: 2rem;
    position: absolute;
    top: 2.18rem;
  }
  
  .eye-l {
    left: 1.37rem;
    transform: rotate(-20deg);
  }
  
  .eye-r {
    right: 1.37rem;
    transform: rotate(20deg);
  }
  
  .eyeball-l,
  .eyeball-r {
    height: 0.6rem;
    width: 0.6rem;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    left: 0.6rem;
    top: 0.6rem;
    transition: 1s all;
  }
  
  .eyeball-l {
    transform: rotate(20deg);
  }
  
  .eyeball-r {
    transform: rotate(-20deg);
  }
  
  .nose {
    height: 1rem;
    width: 1rem;
    background-color: #3f3554;
    position: absolute;
    top: 4.37rem;
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 1.2rem 0 0 0.25rem;
    transform: rotate(45deg);
  }
  
  .nose:before {
    content: "";
    position: absolute;
    background-color: #3f3554;
    height: 0.6rem;
    width: 0.1rem;
    transform: rotate(-45deg);
    top: 0.75rem;
    left: 1rem;
  }
  
  .mouth,
  .mouth:before {
    height: 0.75rem;
    width: 0.93rem;
    background-color: transparent;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0.18rem #3f3554;
  }
  
  .mouth {
    top: 5.31rem;
    left: 3.12rem;
  }
  
  .mouth:before {
    content: "";
    position: absolute;
    left: 0.87rem;
  }
  
  .hand-l,
  .hand-r {
    background-color: #3f3554;
    height: 2.81rem;
    width: 2.5rem;
    border: 0.18rem solid #2e0d30;
    border-radius: 0.6rem 0.6rem 2.18rem 2.18rem;
    transition: 1s all;
    position: absolute;
    top: 8.4rem;
  }
  
  .hand-l {
    left: 7.5rem;
  }
  
  .hand-r {
    right: 7.5rem;
  }
  
  .paw-l,
  .paw-r {
    background-color: #3f3554;
    height: 3.12rem;
    width: 3.12rem;
    border: 0.18rem solid #2e0d30;
    border-radius: 2.5rem 2.5rem 1.2rem 1.2rem;
    position: absolute;
    top: 26.56rem; 
  }
  
  .paw-l {
    left: 10rem;
  }
  
  .paw-r {
    right: 10rem;
  }
  
  .paw-l:before,
  .paw-r:before {
    position: absolute;
    content: "";
    background-color: #ffffff;
    height: 1.37rem;
    width: 1.75rem;
    top: 1.12rem;
    left: 0.55rem;
    border-radius: 1.56rem 1.56rem 0.6rem 0.6rem;
  }
  
  .paw-l:after,
  .paw-r:after {
    position: absolute;
    content: "";
    background-color: #ffffff;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    top: 0.31rem;
    left: 1.12rem;
    box-shadow: 0.87rem 0.37rem #ffffff, -0.87rem 0.37rem #ffffff;
  }
  
  @media screen and (max-width: 31.25rem) {
    .container {
      font-size: 0.875rem;
    }
  }