.courses-section {
    max-width: 1400px;
    margin-inline: auto;
    margin-top: 20px;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .courses-section-heading2 {
    font-size: 1.8rem;
    color: #241151;
    font-weight: 500;
    margin-bottom: 35px;
  }
  
  .courses-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
  }
  
  .course-card {
    background-color: #fff;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 360px;
    padding-bottom: 30px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s;
  }

  .course-card:hover {
    transform: translateY(-5px);
  }
  
  .course-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }

  .courses-section-title {
    font-size: 1.3rem;
    font-weight: 500;
    color: #241151;
    margin: 8px 15px;
  }

  .courses-section-icon-box {
    align-self: flex-end;
    margin-right: 28px;
  }

  .courses-section-icon {
    margin-left: 25px;
    font-size: 1.5rem;
    color: #716b78;
  }

  .courses-section-icon:hover {
    color: #6C63FF;
  }
  
  .courses-section-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 15px;
  }

  .course-level {
    color: #888;
    font-size: 0.9em;
  }
  
  .get-started-btn {
    margin-right: 10px;
    width: 120px;
    background-color: #fbfbff;
    color: #6C63FF;
    border: 1px solid #6C63FF;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .get-started-btn:hover {
    color: #fff;
    background-color: #6C63FF;
  }  

  .courses-section-show-more-btn {
    margin-top: 20px;
    align-self: center;
    width: 200px;
    background-color: #fbfbff;
    color: #6C63FF;
    font-size: 1.3rem;
    border: 1px solid #6C63FF;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }

  .courses-section-show-more-btn:hover {
    color: #fff;
    background-color: #6C63FF;
  }  

  .courses-section-show-btn-arrow {
    font-size: 1.5rem;
    padding: 0 0 5px 5px;
  }